* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Font;
}
html {
  font-size: 62.5%;
}
body {
  transition: all 0.3s ease;
  &.dark {
    background-color: #18161b;
  }
}
.container {
  width: 100%;
  padding: 3rem 1.2rem;
  position: relative;
  .darkmodeButton {
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    label {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      width: 100%;
      height: 100%;
      top: -15px;
      border-radius: 50px;
      background-color: $soft_gray;
      padding: 0 2px;
      transition: 0.5s;
      cursor: pointer;
      svg {
        width: 1.5rem;
        transition: all 1s ease;
        path {
          fill: $Bold_gray;
        }
      }
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 100%;
        background-color: white;
        border: 1px solid $Gray4;
        transition: all ease-in-out 0.5s;
      }
      &.dark {
        background-color: #87c638;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked + label::after {
        left: 50%;
      }
    }
  }
}
// 18161b
