.profile {
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;
  &__picture {
    // width: 100%;
    width: 10.2rem;
    height: 10.2rem;
    // display: inline;
    margin: auto;
    overflow: hidden;
    margin-bottom: 1.2rem;
    img {
      width: 100%;
      border-radius: 50%;
      border: 2px solid transparent;
      &.dark {
        border-color: #87c638;
      }
    }
  }
  &__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: $Bold_gray;
    margin-bottom: 0.4rem;
    transition: all 0.3s ease;
    &.dark {
      color: white;
    }
  }
  &__city {
    color: $soft_gray;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  .statsContainer {
    width: 100%;
    max-width: 258px;
    display: grid;
    grid-template-columns: repeat(3, 78px);
    gap: 1.2rem;
    margin: auto;
    & {
      &__stat {
        // width: 100%;
        height: 5.2rem;
        background-color: $boxes_background;
        border-radius: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        flex-direction: column;
        .number {
          margin-bottom: 0.2rem;
          font-size: 1.2rem;
          font-weight: 600;
          color: $Bold_gray;
        }
        .statName {
          font-size: 1.2rem;
          color: $Gray4;
          font-weight: 600;
          text-transform: capitalize;
          line-height: 15px;
        }
        &.dark {
          background-color: #87c638;
          color: white;
          transition: all 0.3s ease;
          .number {
            color: white;
            font-weight: 700;
          }
          .statName {
            color: rgba(233, 233, 233, 0.876);
            font-weight: 400;
          }
        }
      }
    }
  }
}
